<!DOCTYPE html>
<html lang="it">

<head>
	<% include partials/layout/head.ejs %>
</head>

<body class="">
	  <% include partials/layout/header.ejs %>

<% include partials/content/jumbot.ejs %>	

<% include partials/content/carousel.ejs %>

	<section class="row col-md-6 col-xs-8 col-md-offset-1 col-xs-offset-2 row">
	<% include partials/content/catergorsnipp.ejs %>
	</section>

	<aside class="row  col-xs-10 col-md-5 row">
		<% include partials/content/guidasnipp.ejs %>
	</aside>

	<% include partials/content/bannerol.ejs %>

	<% include partials/layout/footer.ejs %>

	<% include partials/layout/jsdefaults.ejs %>
</body>

</html>
