<!DOCTYPE html>
<html lang="it">

<head>
		<% include partials/layout/head.ejs %>
</head>

<body class="">
	<!-- HEader -->
  <% include partials/layout/header4.ejs %>

	<% include partials/layout/breadL.ejs %>

	<% include partials/content/jumbot.ejs %>

	<section class="container col-xs-8 col-xs-offset-2">
	<% include partials/content/form.ejs %>
	</section>

	<% include partials/layout/footer.ejs %>

	<% include partials/layout/jsdefaults.ejs %>
</body>

</html>
