<!DOCTYPE html>
<html lang="it">

<head>
	<% include partials/layout/head.ejs %>
</head>


<body class="">

	<% include partials/layout/bread1.ejs %>

	<% include partials/layout/header2.ejs %>

	<% include partials/content/jumbot.ejs %>

	<% include partials/content/search.ejs %>


	<section class="row col-md-10 col-xs-8 col-md-offset-1 col-xs-offset-1 row">
	<% include partials/content/categor.ejs %>
	</section>

	<% include partials/layout/fatfooter.ejs %>

	<% include partials/layout/footer.ejs %>

	<% include partials/layout/jsdefaults.ejs %>
</body>

</html>
