/*Footer*/
#footer{
	background-color: $Bg_color_footer;
}
.Ch_Pad1 {
    padding-bottom: 30px;

}
.fatfooter {
	background-color: $Col_font_nav;
	text-decoration: none;
					ul{
							list-style-type: none;
					}
}
