/*Variabili*/

/*Background*/
$Bg_color: #4c8ea1;
$Bg_color_active: #15424f;
$Bg_color_footer: #4c8ea1;

/*Font Color*/
$Col_font: #15424f;
$Col_font_base: #fff;
$Col_font_brea: #336f81;
$Col_font_brea_Ov: #15424f;
$Col_font_nav: rgb(215, 235, 246);

/*Dim Logo*/
$Dm_log_with: 50px;
$Dm_log_height: 50px;
$Dm_head: 50px;

/*Font Size*/
$Size_font: 25px;
$Brea_font_siz: 20px;
/*Text-shadow*/
$Shdw_col_text: rgba(255, 255, 255, 1);

/*Padding*/
$Brea_pad_tp: 50px;
/*esempi*/
$samp: springgreen;
