<section class="footer col-xs-10 col-xs-offset-1 row fatfooter">

  <article  class="navbar navbar-default fatfooter" style="margin-bottom: 50px;" >
    <h2 class="">Programmi della settimana A-Z</h2>
      <section class="col-xs-4">
        <h3 class="">A-C</h3>
        <ul>
          <li>Ally McBeal</li>
          <li>Amici</li>
          <li>Ballando sotto le stelle</li>
        </ul>
        <h3 class="">D-F</h3>
        <ul>
          <li>Dodgeball</li>
          <li>Era mio padre</li>
          <li>Fabbrica di Cioccolato</li>
        </ul>

      </section>

      <section class="col-xs-4">
        <h3 class="">G-L</h3>
        <ul>
          <li>Grey's Anatomy</li>
          <li>Lost in Traslation</li>
        </ul>
        <h3 class="">M-P</h3>
        <ul>
          <li>Masterchef Italia</li>
          <li>Pulp Fiction</li>
        </ul>
      </section >

      <section class="col-xs-4">
        <h3 class="">S-T</h3>
        <ul>
          <li>Somewhere</li>
          <li>Revenge</li>
          <li>The Good Wife</li>
        </ul>
        <h3 class="">U-Z</h3>
        <ul>
          <li>V per Vendetta</li>
          <li>Zohan</li>
        </ul>
      </section>
  </section>

  </article>
</section>
