<footer class="footer col-xs-12 row">

  <article id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <p class="navbar-text">Giove TV S.p.A.</p>
          <p class="navbar-text">Via Trebbia, 10 - Milano </p>
          <p class="navbar-text">Capitale Sociale € 235.000</p>
        </ul>

        <ul class="nav navbar-nav"style="padding-left: 50px;">
          <p class="navbar-text">Seguici su:</p>
          <p class="navbar-text"><a href="http://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true" style="color: blue;"></i></a></p>
          <p class="navbar-text"><a href="http://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true" style="color: cyan;"></i></a></p>
          <p class="navbar-text"><a href="http://www.googleplus.com"><i class="fa fa-google-plus-official" aria-hidden="true" style="color: #FF6347;"></i></a></p>
          <p class="navbar-text"><a href="http://www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true" style="color: white;"></i></a></p>
          <p class="navbar-text"><a href="http://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true" style="color: purple;"></i></a></p>
          <p class="navbar-text"><a href="http://www.pinterest.com"><i class="fa fa-pinterest-square" aria-hidden="true" style="color: red;"></i></a></p>

        </ul>



        <ul class="nav navbar-nav navbar-right">
          <li><a href="faq">FAQ</a></li>
          <li><a href="assistenzacontatti">Assistenza/Contatti</a></li>
          <li><a href="notelegali">Note Legali</a></li>
        </ul>
      </div>
  </article>
</footer>
