<div class="page-header">
  <h2>I Generi Più Visti</h2>
</div>
<div id="Ig1" class="col-xs-6 col-md-4">
  <a href="#" class="thumbnail">
    <img src="/images/cinema_small.png" alt="Cinema">
    <div class="carousel-caption ov_Img">
      <h3>CINEMA</h3>
    </div>
  </a>
</div>
<div id="Ig2" class="col-xs-6 col-md-4">
  <a href="#" class="thumbnail">
    <img src="/images/serieTV_small.png" alt="Serie Tv">
    <div class="carousel-caption ov_Img">
      <h3>SERIE TV</h3>
    </div>
  </a>
</div>
<div id="Ig3" class="col-xs-6 col-md-4">
  <a href="#" class="thumbnail">
    <img src="/images/cucina_small.png" alt="Cucina">
    <div class="carousel-caption ov_Img">
      <h3>CUCINA</h3>
    </div>
  </a>
</div>
<div id="Ig4" class="col-xs-6 col-md-4">
  <a href="#" class="thumbnail">
    <img src="/images/talent_small.png" alt="Intrattenimento">
    <div class="carousel-caption ov_Img">
      <h3>TALENT</h3>
    </div>
  </a>
</div>
<div id="Ig5" class="col-xs-6 col-md-4">
  <a href="#" class="thumbnail">
    <img src="/images/barba_small.png" alt="Bambini">
    <div class="carousel-caption ov_Img">
      <h3>BAMBINI</h3>
    </div>
  </a>
</div>
<div id="Ig6" class="col-xs-6 col-md-4">
  <a href="#" class="thumbnail">
    <img src="/images/sport_small.png" alt="Sport">
    <div class="carousel-caption ov_Img">
      <h3>SPORT</h3>
    </div>
  </a>
</div>
