<div id="Im1" class="col-xs-6 col-md-4 p3">
	<a href="tag.html" class="thumbnail">
		<img src="/images/cinema_small.png" alt="Film">
		<div class="carousel-caption ov_Img">
			<h3>FILM</h3>
		</div>
	</a>
</div>
<div id="Im2" class="col-xs-6 col-md-4 p3">
	<a href="#" class="thumbnail">
		<img class="resiz_img" src="/images/Cinema.svg" alt="Cinema">
		<div class="carousel-caption ov_Img">
			<h3>CINEMA</h3>
		</div>
	</a>
</div>
<div id="Im3" class="col-xs-6 col-md-4 p3">
	<a href="#" class="thumbnail">
		<img src="/images/talent_small.png" alt="Talent">
		<div class="carousel-caption ov_Img">
			<h3>TALENT</h3>
		</div>
	</a>
</div>
<div id="Im4" class="col-xs-6 col-md-4 p3">
	<a href="#" class="thumbnail">
		<img src="/images/serieTV_small.png" alt="Serie Tv">
		<div class="carousel-caption ov_Img">
			<h3>SERIE TV</h3>
		</div>
	</a>
</div>
<div id="Im5" class="col-xs-6 col-md-4 p3">
	<a href="#" class="thumbnail">
		<img class="resiz_img" src="/images/foresta.svg" alt="Documentari">
		<div class="carousel-caption ov_Img">
			<h4>DOCUMENTARI</h4>
		</div>
	</a>
</div>
<div id="Im6" class="col-xs-6 col-md-4 p3">
	<a href="#" class="thumbnail">
		<img src="/images/sport_small.png" alt="Sport">
		<div class="carousel-caption ov_Img">
			<h3>SPORT</h3>
		</div>
	</a>
</div>
<div id="Im7" class="col-xs-6 col-md-4 p3">
	<a href="#" class="thumbnail">
		<img class="resiz_img" src="/images/Musica.svg" alt="Musica">
		<div class="carousel-caption ov_Img">
			<h3>MUSICA</h3>
		</div>
	</a>
</div>
<div id="Im8" class="col-xs-6 col-md-4 p3">
	<a href="#" class="thumbnail">
		<img src="/images/cucina_small.png" alt="Cucina">
		<div class="carousel-caption ov_Img">
			<h3>CUCINA</h3>
		</div>
	</a>
</div>
<div id="Im9" class="col-xs-6 col-md-4 p3">
	<a href="#" class="thumbnail">
		<img src="/images/barba_small.png" alt="Bambini">
		<div class="carousel-caption ov_Img">
			<h3>BAMBINI</h3>
		</div>
	</a>
</div>
