<section class="o-wrapper__guide__daySlider">
					<section class="daySlider__day"></section>
					<div class="btnDaySlider-right icon2-right-open"></div>
					<div class="btnDaySlider-left icon2-left-open"></div>
</section>
