
<div class="row">
	  <div class="col-sm-6 col-md-10 col-md-offset-1">
		  <form id="search-form" role="form">
			  <div class="form-group">
			    <input type="text" class="form-control" id="spotlight" placeholder="Cerca" />
			  </div>
		  </form>
	  </div>
</div>
